@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');

html{
    font: normal normal normal 1em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
    color: #797166;
    margin: 0;
    padding: 0;
    background: #f5f3f0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "lft-etica", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.2;
}

h1.title{
    font-weight: 600;
    font-size: 1.8rem !important;
    color: #96b9c1;
    padding-right: 10px;
    padding-left: 10px;    
}

div.level-nav{
    background: #5c5c6a url(./images/background.jpg) no-repeat scroll 50% 50%;
    
}

.box{
    background-color:#e6e6e6;
}
.box a{
    color: #c56c76;
    text-decoration: underline;
}

.gaps{
    margin-left: 30px;
}

figure{
    max-width: 100% !important;
    min-height: 60px;
    max-height: 160px;
}

button.btn-site{
    background: #c56c76;
    color: #f5f3f0;
    transition: all .4s ease-in-out
}

button.btn-site:hover{
    color: #f5f3f0;
    transform: scale(1.03);
}

.content, .speaker-box, .box{
    font: normal normal normal 1em/1.5 "lft-etica", "Helvetica Neue", Arial, sans-serif;
    color: #797166;
}

.speaker-headlines h2{
    font-weight: 600;
    font-size: 1.8rem !important;
    color:#6e7e84;
}

span.firstname{
    color:#797166;
    line-height: 1.2;
    font-weight: bold;
    font-size: 1.25em;
}

span.jobdescription{
    text-decoration: none;
    border-bottom: 1px solid #e45772;
    color: #c56c76;
    line-height: 1.4;
    font-weight: bold;
}

img.is-circular{
    width: 100%;
    height: 100%;
}

.image img.is-rounded{
    border-radius: 50%;
}

.no-container{
    background: #51525a;
    color: #ccccd1;
}

footer a{
    color: #c56c76;
    font-weight: 500;
}

footer a:hover{
    color: #c56c76;
}

/* When the width is between 600px and 900px OR above 2400px - change the appearance of <div> */
@media screen and (max-width: 2400px) and (min-width: 800px){
    figure.image.is-96x96{
        max-width: 96px !important;
        min-height: 96px !important;
    }
    h1.title{
        padding-right: 10px;
        padding-left: 10px;  
    }
    
}

@media screen and (min-width: 832px){
    footer{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 769px){
    figure.image.is-96x96{
        max-width: 96px !important;
        min-height: 96px !important;
        width: 100%;
    }

    div.column.is-8{
        padding-left: 25px;
        padding-right: 25px;
    }
    ul{ 
        margin-left: 15px;
    }

    footer{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 768px){
    p.pb-4{
        margin-left: 15px;
    }
    p.pl-4{
        margin-left: 15px;
    }

    ul{ 
        margin-left: 15px;
    }

    footer{
        text-align: center;
    }
}

@media screen and (min-width: 750px){
    ul{ 
        margin-left: 15px;
    }
    p.pb-4{
        padding-left: 30px;
    }
    h1.title{
        padding-right: 10px;
        padding-left: 10px;  
    }
}


@media screen and (min-width: 480px) {
    div.content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .speaker-headlines h2{
        text-align: left !important;
        margin-left: 20px;
        font-weight: 600;
    }

    .gaps{
        margin-right: 15px;
    }

    button.btn-site{
        width: 100%;
    }

    p.pb-4{
        padding-left: 15px;
    }

    ul{
        padding-left: 15px;
    }

    footer{
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 470px) and (min-width: 240px){
    .level img{
        width: 80%;
    }
    h1.title{
        font-size: 18px !important;
    }
    .siteinformation{
        padding: 0px 35px 0px 35px;
    }


    footer{
        padding: 0px 35px 0px 35px;
    }
}